<html>
    <head>
        <title>ex36_success</title>
    </head>
    <style>
        img {
            width: 200;
            height: 200;
        }
    </style>
    <body>
        <img src="<%=filename %>">
    </body>
</html>
